<header>
	<h1>Welcome to <%= locals.title %></h1>
	<% if (locals.user) { %>
	<h2><%= user.name %></h2>
	<nav>
		<a href="/log-out">Log out</a>
	</nav>
	<% } else { %>
	<h2>You are not logged in!</h2>
	<nav>
		<a href="/log-in">Log in</a>
		<a href="/sign-up">Create an account</a>
	</nav>
	<% } %>
</header>
