<article class="message">
	<div class="message__group flex--row">
		<h3 class="message__heading"><%= message.author.name %></h3>
		<span><%= message.createdAt %></span>
	</div>
	<p><%= message.text %></p>
</article>
