<!DOCTYPE html>
<html>
	<%- include('./components/head') %>
	<body>
		<%- include('./components/header') %>
		<main class="main-container flex--col">
			<section class="messages-section">
				<article class="message-container flex--col">
					<h2>Messages</h2>
					<% if(locals.messages.length) { %>
						<% messages.forEach(message => { %>
							<%- include('./components/message', { message }) %>
						<% }) %>
					<% } else { %>
						<p>No messages in chat :(</p>
					<% } %>
				</article>
			</section>
			<% if (locals.user) { %>
				<section>
					<%- include('./components/message-form') %>
				</section>
			<% } %>
		</main>
	</body>
</html>
