<!DOCTYPE html>
<html lang="en">
	<%- include('./components/head') %>
	<body>
		<header>
			<h1>Create Account</h1>
		</header>
		<main class="main-container">
			<form action="/sign-up" method="post" class="form flex--col">
				<label class="flex--col labelled-input">
					Username
					<input type="text" name="username" autocomplete="username" class="input-field" required />
				</label>
				<label class="flex--col labelled-input">
					Email
					<input
						type="email"
						name="email"
						placeholder="example@example.com"
						autocomplete="email"
						class="input-field"
						required />
				</label>
				<label class="flex--col labelled-input">
					Password
					<input
						type="password"
						name="password"
						autocomplete="new-password"
						class="input-field"
						required />
				</label>
				<button type="submit" class="btn">Sign up</button>
			</form>
			<% if (locals.errors) { %>
				<%- include('./components/error-list') %>
			<% } %>
		</main>
	</body>
</html>
