<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sign up</title>
	</head>

	<body>
		<h1>Sign up to chat :)</h1>
		<form method="post">
			<label>
				Username
				<input type="text" name="username" />
			</label>
			<label>
				Email
				<input type="email" name="email" placeholder="example@example.com" />
			</label>
			<label>
				Password
				<input type="password" name="password" />
			</label>
			<button type="submit">Sign up</button>
		</form>
		<% if (locals.errors) { %>
		<ul>
			<% locals.errors.forEach(err => { %>
			<li><%= err.msg %></li>
			<% }) %>
		</ul>
		<% } %>
	</body>
</html>
